.main-header {
    background-color: $top;
}

.main-header__navigation {
    display: flex;
    justify-content: space-between;
}

.main-header__wrapper {
    padding-top: 43px;
    margin-bottom: 94px;
}

.main-header__list {
    margin-top: 0;
}