.page::before {
  content: "";
  position: absolute;
  background-image: url(../images/top.png);
  top: 0;
  right: 0;
  width: 1053px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; }
